$maxSmall: " (max-width: 767px)";
// $maxSmall: " (max-width: 991px)";

$redColor: #e2494c;
$greyColor: #9c9c9c;

$xSmall: " (max-width: 576px)";
$minSmall: " (min-width: 768px)";
$minMedium: " (min-width: 992px)";
$minLarge: " (min-width: 1200px)";

// $maxSmall: " (max-width: 768px)";
// $maxMedium: " (max-width: 992px)";
// $maxLarge: " (max-width: 1200px)";
